.ballot-card {
    width: 22vw;
    height : 28vh;
    margin-top : 2vh;
    margin-bottom : 2vh;
    margin-left : 1vw;
    margin-right : 1vw;
    min-width: 300px;
    min-height : 350px;
}

.ballot-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.candidate-card {
    min-width: 200px;
    min-height: 400px;
    width : 12vw;
    height : 32vh;
    margin-top : 2vh;
    margin-bottom : 2vh;
    margin-left : 1vw;
    margin-right : 1vw;
    cursor: pointer; 
}

/* All same size */
.student-image {
    object-fit: cover;
    /* width: 10vw; */
    /* height: 20vh; */
    max-height : 15vh;
    min-height: 200px;
}

.student-button {
    min-width : 100px;
    min-height : 50px;
    width : 6vw;
    height : 4vh;
}

.student-tick {
    width: 50px;
    height : 50px;
    position: absolute;
    right : 0;
    visibility: hidden;
    pointer-events: all;
}


.candidate-card:hover{
    transform: scale(1.15);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.ballot-image {
    width : 22vw;
    height : 11vh;
    min-width: 300px;
    min-height : 150px;
    object-fit: cover;
}