.table-wrapper-scroll-y {
    display: block;
}

.student-images {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap : wrap;
}

.image-holder {
    width : 300;
    height : 400;
    text-align: center;
}